$black-dark: #2d2d2d;
$white: #fff;
$gray-less: #8a8a8a;
$white-minor: #f0f0f0;
$dark-marine: #353f41;

//altura do topo: 55px;

<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

font-family: 'Droid Sans', sans-serif;